<footer>
    <div class="title">
        <h1>Shutter Symphony</h1>
        <p>Photography</p>
    </div>
    <p class="copyright">Designed By Kshitij S. Nargund</p>
    <ul>
        <li>
            <a href="https://www.instagram.com/" target="_blank">
                <img src="./assets/icons/instagram.png" alt="">
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/" target="_blank">
                <img src="./assets/icons/facebook.png" alt="">
            </a>
        </li>
        <li>
            <a href="https://vimeo.com/" target="_blank">
                <img src="./assets/icons/vimeo.png" alt="">
            </a>
        </li>
        <li>
            <a href="https://www.behance.net/" target="_blank">
                <img src="./assets/icons/behance.png" alt="">
            </a>
        </li>
        <li>
            <a href="https://www.youtube.com/" target="_blank">
                <img src="./assets/icons/youtube.png" alt="">
            </a>
        </li>
    </ul>
</footer>