<nav>
    <ul>
        <li>
            <a routerLink="/home" routerLinkActive="active">Overview</a>
        </li>
        <li>
            <a routerLink="/about" routerLinkActive="active">About</a>
        </li>
        <li>
            <a routerLinkActive="active">Work</a>
            <ul class="dropdown">
                <li>
                    <a routerLink="/wild-life" routerLinkActive="active">Wildlife</a>
                </li>
                <li>
                    <a routerLink="/advertisement" routerLinkActive="active">Advertisements</a>
                </li>
                <li>
                    <a routerLink="/music" routerLinkActive="active">Music Videos</a>
                </li>
            </ul>
        </li>
        <li>
            <a routerLink="/contact" routerLinkActive="active">Contact</a>
        </li>
    </ul>
</nav>