<div class="home-content">
    <div class="header">
        <app-header></app-header>
    </div>
    <section class="center-content">
        <div class="carousel">
            <app-image-carousel></app-image-carousel>
        </div>
        <div class="navigate-container">
            <h1>Shutter Symphony Photography</h1>
            <button (click)="goToWork()">Explore My Work</button>
        </div>
    </section>
    <section class="about-content">
        <h1>About Me</h1>
        <p><span class="first-word">I'm</span> Shutter Symphony, a versatile photographer specializing in
            <span>advertising</span>,
            <span>music videos</span>, and
            <span>wildlife
                photography</span>. My work blends creativity with technical expertise to craft visually stunning and
            emotionally
            compelling images. From dynamic ad campaigns and cinematic music videos to captivating wildlife shots, I aim
            to capture moments that tell powerful stories and resonate deeply. Explore my portfolio to see how I turn
            vision into visual art.
        </p>
    </section>
    <hr>
    <section class="navigation-content" #work>
        <h1>See My Work</h1>
        <div class="navigation-parent">
            <div class="navigate-options">
                <img src="./assets/Images/advertisement.jpg" alt="medium1" loading="lazy" class="loader">
                <button (click)="goToAdvertisement()">Advertisements</button>
            </div>
            <div class="navigate-options">
                <img src="./assets/Images/music.jpg" alt="medium2" loading="lazy" class="loader">
                <button (click)="goToMusic()">Music Videos</button>
            </div>
            <div class="navigate-options">
                <img src="./assets/Images/Wildlife/wildlife (3).jpg" alt="medium4" loading="lazy" class="loader">
                <button (click)="goToWildlife()">Wildlife</button>
            </div>
        </div>
    </section>
    <section class="quote">
        <p>Life is like a camera. Just focus on what's important and capture the good times, develop from the negatives
            and if things don't work out, just take another shot.</p>
        <p>-Ansel Adams</p>
    </section>
    <div class="footer">
        <app-footer></app-footer>
    </div>
</div>