@font-face
    font-family: "Playfair"
    src: url("./assets/Fonts/playfair-variablefont_opszwdthwght-webfont.woff2") format('woff2')
    font-style: normal
    font-weight: 300
    font-display: swap

@font-face
    font-family: "Playfair"
    src: url("./assets/Fonts/playfair-italic-variablefont_opszwdthwght-webfont.woff2") format('woff2')
    font-style: italic
    font-weight: 300
    font-display: swap

*
    margin: 0
    padding: 0
    box-sizing: border-box
    scroll-behavior: smooth

    .loader
        animation: skeleton-loading 1s linear infinite alternate

    @keyframes skeleton-loading
        0%
            background-color: hsl(200, 0%, 70%)

        100%
            background-color: hsl(200, 0%, 95%)

    @keyframes fade-in
        from
            scale: 0.8
            opacity: 0

        to
            scale: 1
            opacity: 1

    ::-webkit-scrollbar
        width: 5px

    ::-webkit-scrollbar-track
        background-color: #ffffff

    ::-webkit-scrollbar-thumb
        background-color: #2d2d2d
        border-radius: 50px
